/*six-shooter demo file*/
body {
    background-color: black;
    background-image:url(images/fog.png)
}
/*styling to see the elements on the gate and gun page*/
#wrapper {
    
    width:980px;
    margin:auto;
    position:relative;
    top:5px;

}
div {

    border:1px solid red;
    margin:10px;
    padding:10px;
}

h1 {

    font-family: 'Permanent Marker', cursive;
    font-size:66px;

}

#target {

    width:900px;
    margin:auto;
    position:relative;
    

}

#jason {
    width:500px;
    position:relative;
    left:192px;
}

footer {
    text-align:center;
}

header {
    text-align:center;
}



/*GATE PAGE --------------------------*/
#gate-play {

    width:300px;
    height:150px;
    text-align:center;
    line-height:150px;
    font-weight:bold;
    text-decoration: none;
    background-color:grey;
    color:red;
    display:block;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    font-size:36px;
}

#gate-play:hover {

    background-color:red;
    color:grey;

}
nav {

    width:960px;
    margin:auto;
    height:250px;
   
}
#left {

    width:45%;
    float:left;

}

#total-ammo {

    height:150px;
    margin-bottom: 10px;
    float:left;
    width: 40%;
    font-size:40px;
    text-align:center;
    line-height:150px;

}

#current-ammo {

    height:150px;
    margin-bottom: 10px;
    float:right;
    width:40%;
    font-size:40px;
    text-align:center;
    line-height:150px;

}

#right {

    width:45%;
    float:right;

}

#titles {

    width:75%;
    margin:auto;
    border:none;
    font-family: "Permanent Marker", cursive;
    font-size:18px;

}

#title-left{ 

    float:left;
    

}

#title-right{ 

    float:right;

}


footer {

    clear:both;
}